[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
validators = "*"
bcrypt = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
