alembic
aniso8601
asttokens
backcall
blinker
certifi
charset-normalizer
click
colorama
cors
decorator
distlib
exceptiongroup
executing
Faker
filelock
Flask==2.2.5
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy==3.0.2
future
gevent
greenlet
gunicorn
idna
iniconfig
ipdb
ipython
itsdangerous
jedi
Jinja2
Mako
MarkupSafe
matplotlib-inline
packaging
parso
pexpect
pickleshare
pipenv
platformdirs
pluggy
prompt-toolkit
ptyprocess
pure-eval
Pygments
PySocks
pytest
python-dateutil
pytz
requests
requests-file
six
SQLAlchemy
SQLAlchemy-serializer
stack-data
tldextract
tomli
traitlets
typing_extensions
urllib3
virtualenv
virtualenv-clone
wcwidth
Werkzeug
zope.event
zope.interface
