alembic0
aniso8601
asttokens
backcall
blinker
certifi7.22
charset-normalizer
click
colorama
cors
decorator
distlib
exceptiongroup
executing
Faker1
filelock2
Flask==2.2.5
Flask-Cors
Flask-Migrate
Flask-RESTful0
Flask-SQLAlchemy==3.0.2
future3
gevent1
greenlet
gunicorn0
idnaniconfig
ipdb13
ipython0
itsdangerous
jedi0
Jinja2
Mako
MarkupSafe
matplotlib-inline
packagingparso
pexpect
pickleshare
pipenv7.23
platformdirs0
pluggy
prompt-toolkit9
ptyprocess
pure-eval
Pygments1
PySocks
pytest
python-dateutil
pytz3.post1
requests0
requests-file
six0
SQLAlchemy0
SQLAlchemy-serializer
stack-data
tldextract
tomli
traitlets
typing_extensions
urllib3
virtualenv.3
virtualenv-clone
wcwidth
Werkzeug
zope.eventope.interface